*{
    background-color: rgb(168, 209, 243);
}
h1{
    border: 2px solid blue;
    border-radius: 4px;
    width: 250px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nilai{
    border: 2px solid blue;
    border-radius: 4px;
    width: 250px;
    padding: 10px;
    margin: 15px;
}

.cek{
    text-decoration: solid;
}

#demo{
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calculator{
    border: 2px solid blue;
    border-radius: 4px;
    width: 250px;
    padding: 15px;
    margin: 10px;
}

.hasil1{
    color: black;
    text-decoration-color: aliceblue;
    text-align: center;
}

#cek1{
    font-size: 15px;
    text-align: center;
    font-family: Georgia;
}

#tambah{
    border: 2px solid royalblue;
    color: black;
    border-radius: 2px;
    width: 35px;
    height: 30px;
}

#kurang{
    border: 2px solid royalblue;
    color: black;
    border-radius: 2px;
    width: 35px;
    height: 30px;
}

#kali{
    border: 2px solid royalblue;
    color: black;
    border-radius: 2px;
    width: 35px;
    height: 30px;
}

#bagi{
    border: 2px solid royalblue;
    color: black;
    border-radius: 2px;
    width: 35px;
    height: 30px;
}

/* .nilai p.demo{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
} */